.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(31, 108, 185);
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 1;
}

.footer a{
    color: white;
    text-decoration: none;
}

.contact{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 25%;
    font-size: 150%;
}