.enTete{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(31, 108, 185);
    opacity: calc(0.8);
    color: white;
    height: 50px;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}